@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');


body{
    font-family: 'Poppins', sans-serif;
}

.bg-card{
    background-color: #3F87F5;
}
.text-color{
    color: white;
}
.button-text{
    color: #3F87F5;
}
.button-color{
    background-color: white;
    color: #3F87F5;
}
.catagories{
    height: 400px;
}
.text-padding{
    padding-top: 150px;
    padding-bottom: 20px;
}
.images{
    width: 50%;
}
.last-part{
    background-color: black;
    color: white;
    height: 150px;
}
.app-size{
    width: 150px;
}
.second-app{
    width: px;
}
.badge-icon{
    margin-left: 290px;
}
.social-media{
    text-decoration: none;
}
